

@{
    ViewData["Title"] = "Kontakt";
}

<section>
    <p>
        <img src="~/images/email.png" alt="email" class="vlevo" />
        Pokud mi chcete něco sdělit, napište mi email na <strong>michalh18@seznam.cz</strong> nebo využijte formuláře níže.
    </p>

    <p class="centrovany">
        <iframe frameborder="0" scrolling="no" width="500" height="220"
            src="https://www.itnetwork.cz/api/Service-MailForm/65020f8144cc98.60620335">
        </iframe>
    </p>
</section>







