

@{
    ViewData["Title"] = "O mně";
}

<p><img src="~/images/profilovka2.jpg" class="avatar" alt="Programátor MiHa" /></p>

<section>
    

    <p>
        Vítejte na mém prezentačním blogu.
    </p>
    <p>
        Jmenuji se Michal Hartl a je mi 35 let. Pracuji jako programátor a chtěl bych se dále věnovat vývoji softwaru v IT. Kontaktovat mě můžete na
        <a asp-controller="Home" asp-action="Contact">kontaktní stránce</a>.
    </p>
    <p>Zabývám se programováním <strong>C#.NET</strong> technologií. Baví mě backend i frontend - vyvíjím jako full stack developer. </p>
    <p>
        Mým hlavním koníčkem je kolo, dále turistika a rodina.
    </p>

    <p class="tlacitko-odstavec">
        <a asp-controller="Home" asp-action="References" class="reference-tlacitko">Moje reference</a>
    </p>
</section>



