
@{
    ViewData["Title"] = "Reference";
}

<section>
    <p>Níže naleznete ukázky mých dosavadních prací. Mohu vám nabídnout tvorbu podobného softwaru na zakázku.</p>
    
    <div id="reference">
        <a href="~/images/konzole-hra had.png" title="konzole-hra-had-dbMSSQL" rel="lightbox[reference]">
            <img src="~/images/konzole-hra had-nahled.png" alt="konzole-hra-had-dbMSSQL"/>
        </a>
        <a href="~/images/konzole-hra-piskvorky-2Dpole.png" title="konzole-hra-piskvorky-2Dpole" rel="lightbox[reference]">
            <img src="~/images/konzole-hra-piskvorky-2Dpole-nahled.png" alt="konzole-hra-piskvorky-2Dpole"/>
        </a>
        <a href="~/images/web-html-css-aspNetCore.png" title="Ukázka web. kódu" rel="lightbox[reference]">
            <img src="~/images/web-html-css-aspNetCore-nahled.png" alt="Ukázka web. kódu" />
        </a>       
        <a href="~/images/winforms-upominac narozenin.png" title="WinForms-upomínač narozenin" rel="lightbox[reference]">
            <img src="~/images/winforms-upominac narozenin - nahled.png" alt="WinForms-upomínač narozenin"/>
        </a>
        <a href="~/images/web-Asp.NetCore.png" title="web-blog-Asp.NetCore" rel="lightbox[reference]">
            <img src="~/images/web-Asp.NetCore-nahled.png" alt="web-blog-Asp.NetCore"/>
        </a>    
    </div>
    <br />
    <div id="odkaz-projekty">
        <a href="https://drive.google.com/drive/folders/1A8oRsQQeRJIXp20UZyEn1mijC-WvBc10?usp=sharing">Odkaz na projekty</a>
    </div>
</section>














