
@{
    ViewData["Title"] = "Dovednosti";
}

<section>
    <table id="dovednosti">
        <thead>
            <tr class="centrovany">
                <th colspan="3"><h2><strong>.NET</strong></h2></th>
            </tr>
        </thead>
        <tr class="centrovany">
            <td>
                <img src="~/images/icons8-c-128.png" alt="CSHARP" />
            </td>
            <td>
                <img src="~/images/icons8-restore-window-96.png" alt="Winforms" />
            </td>
            <td>
                <img src="~/images/icons8-web-100.png" alt="AspNetCore" />
            </td>
        </tr>
        <tr>
            <td>
                <h3>C#.NET</h3>
                <p>C# je můj hlavní programovací jazyk(.NET6). Líbí se mi jeho syntaxe a propracovanost. Detailně jsem se ho naučil používat na straně backendu.
                    Na straně frontendu se také stále posunuji dále a učím se nejnovější postupy, které tato technologie nabízí.</p>
            </td>
            <td>
                <h3>WinForms</h3>
                <p>Tuto okenní aplikaci jsem poměrně detailně používal ve svých projektech. Líbí se mi na ni jednoduchost a rychlost tvorby(pro desktopové aplikace).</p>
            </td>
            <td>
                <h3>Asp.Net Core</h3>
                <p>Webovým aplikacím v Asp.Net Core se v současnosti intenzivně věnuji.</p>
            </td>
        </tr>
        <tr class="centrovany">
                <td colspan="3"><h2><strong>WEB + OSTATNÍ</strong></h2></td>
        </tr>
        <tr class="centrovany">
            <td>
                <img src="~/images/html.png" alt="HTML" />
            </td>
            <td>
                <img src="~/images/icons8-css-logo-128.png" alt="CSS" />
            </td>
            <td>
                <img src="~/images/icons8-bootstrap-128.png" alt="Bootstrap"/>
            </td>
        </tr>
        <tr>
            <td>
                <h3>HTML5</h3>
                <p>HTML jazyk jako základ každého webu mě provází již od školy. V dnešní době ho využívám moderním způsobem s dalšími webovými technologiemi.</p>
            </td>
            <td>
                <h3>CSS3</h3>
                <p>Tento skvělý formátovací jazyk (spolu s HTML a dalšími knihovnami - Bootstrap apod.) dokáže tvořit působivý design webů a webových aplikací.</p>
            </td>
            <td>
                <h3>Bootstrap</h3>
                <p>Tuto velmi užitečnou CSS knihovnu používám pro tvorbu frontendu webů.</p>
            </td>
        </tr>
    </table>

    
</section>















